.rotatingImage {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.ignoreMouse{
    pointer-events:none;
}

.dragEnter {
    transform: rotate(5deg) scale(1.05);
    border: 8px var(--mud-palette-secondary) solid;
    border-radius: 20px;
    transition: transform 1s;
}

#dragBone {
    background-color: var(--mud-palette-secondary);
    border-radius: 60px;
    width: 30%
}

.boxShadow {
    box-shadow: 0 22px 45px -20px var(--mud-palette-table-hover), 0 5px 5px -3px rgb(0 0 0 / 6%), 0 8px 10px 1px rgb(0 0 0 / 4%), 0 3px 14px 2px rgb(0 0 0 / 4%)
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.fade-down {
    animation: movedown 3s ease-out forwards;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* Safari and Chrome */
    -webkit-animation: movedown 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

.bottomright {
    position: fixed;
    right: 0px;
    bottom: 20px;
}

@keyframes movedown {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 200px;
        opacity: 0;
    }
}

@-webkit-keyframes movedown /* Safari and Chrome */
{
    from {
        top: 0px;
        opacity: 1;
    }

    to {
        top: 200px;
        opacity: 0;
    }
}

.fade-up {
    animation: moveup 3s ease-out forwards;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* Safari and Chrome */
    -webkit-animation: moveup 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@keyframes moveup {
    from {
        top: 200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes moveup /* Safari and Chrome */
{
    from {
        top: 200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}